// colores
$color-principal: #5b2c83;
$color-cabecera: #c5b4d6;
$color-productos: #d9d2e6;
$color-form: #ecc8ee;
$color-inputs: #b77e9c;
$color-garantias: #d4e1f1;
$color-testimonios: #f2f2f2;
$color-contacto: #e7dad6;
$color-texto: #222;

// fuente
$fuente: Arial, sans-serif;
$espacio: 20px;
